@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.Market {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.Market .title {
  font-family: 'Luckiest Guy', cursive;
}

.Market .form-inline {
  display: flex;
  justify-content: center;
}

.Market .form-inline .form-control {
  margin-right: 5px;
}

button {
  border-radius: 0.25rem !important;
  background:#1AAB8A;
  color:#fff;
  border: none;
  position: relative;
  height: 38px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:500ms ease all;
}

.Market .market-name {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: #1AAB8A;
  border: 1px solid black;
  color: #fff;
  height: 50px;
  width: 400px;
  margin: 10px;
}
